
body{
    margin-left: auto;
    margin-right: auto;
}

p {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    line-height: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: #ffffff;
    background-color: #000000;
    padding-left: 1.3rem;
    text-transform: uppercase;
    font-family: "Lavishly Yours", serif;
    font-weight: 400;
    font-style: normal;
}

h2,h3,p,ul,footer {
    color: #7EA1C4;
    margin: .1rem;
}

a:link {
    color: #ED8600;
    text-decoration: overline;
}

a:visited {
    color: #FEDA1A;
}

a:hover {
    color: #FFF1C4;
    text-decoration: underline;
}

a:active {
    color: #BEFF9F;
}

body {
    background-color: #1B365C;
}