/* Gragh View*/
.wrapper{
    display: grid;
    grid-template-rows: min-content repeat(13, auto) min-content;
    grid-template-columns: repeat(13, 1fr);
    min-height: 100vh;
}



/* All Body THEME */
body {
    background-color: #7EA1C4;
    color: #08121F;
    margin: 0;
    font-family: "IBM Plex Sans", sans-serif;
}

/* ALL NAVIGATION BAR */
nav {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start:  1;
    grid-column-end: 14;
    background-color: #08121F;
    font-family: "Roboto", sans-serif;
}

@media (max-width: 1600px){
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    nav img{
        height: 130px;
        margin: 2.8px;
        float: center;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #08121F;
        overflow-x: hidden;
        padding-top: 48px;
        transition: 0.5s;
        font-weight: bolder;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #7EA1C4;
        display: block;
        transition: 0.3s;
        border: 2px solid #08121F;
    }

    .sidenav a:hover {
        background-color: #7EA1C4;
        color: #08121F;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 0px;
        padding: 8px 18px 8px 18px;
    }

    @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
    }

    nav span{
        display: block;
        position: absolute;
        left: 1em;
        padding: 10px;
        background-image: url(../images/Hamburger_icon.svg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 20px;
        height: 32px;
    }
}

@media (min-width: 600px){
    nav {
        display: flex;
        align-items: center;
      }
    
    nav img {
        height: 65px;
        margin: 2px;
        margin-left: 5px;
    }

    .sidenav {
        display: flex;
        margin-left: auto;
    }
    
    .sidenav a {
        text-decoration: none;
        color: #7EA1C4;
        padding: 25px;
        font-weight: normal;
        border: 2px solid #08121F;
    }
    
    .sidenav a:hover {
        background-color: #7EA1C4;
        color: #08121F;
    }
    
    .closebtn,
    .sidenav span {
        display: none;
    }
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    grid-row: 15;
    grid-column-start:  1;
    grid-column-end: 14;
    background-color: #08121F;
}

footer ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: 30px;
    margin-left: 7%;
}

footer li{
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 8px;
    padding: 5px;
}

footer #GMail, footer #LINKEDIN, footer #GITHUB {
    background-size: 50px 50px;
    background-repeat: no-repeat;
    display: block;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
}

footer #GMail {
    background-image: url(../images/gmail.png);
}

footer #LINKEDIN {
    background-image: url(../images/4-1.png);
}

footer #GITHUB {
    background-image: url(../images/Octicons-mark-github.png);
}

footer p{
    color: #7EA1C4;
    text-align: right;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    margin-right: 8%;
}

@media (max-width: 600px){
    footer p {
        display: none;
    }

    footer {
        justify-content: center;
    }
}

/* HOMEPAGE */
.homepage_image {
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 14;
    position: relative;
    display: grid;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
  
#Homepage_Image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    grid-row: 1;
    grid-column: 1;
}

.homepage_name {
    grid-row: 1;
    grid-column: 1;
    align-self: end;
    justify-self: end; 
    transform: translate(-35%, -175%); 
    font-size: clamp(2rem, 6vw, 70px);
    white-space: nowrap;
    color: #08121F;
    z-index: 1;
}

.Homepage_Description {
    grid-row: 1;
    grid-column: 1;
    align-self: end;
    justify-self: end; 
    transform: translate(-1%, 0%); 
    font-size: clamp(2rem, 6vw, 70px);
    font-weight: bold;
    white-space: nowrap;
    color: #08121F;
    z-index: 1;
}

/* SAMPLES */
.Class-Exercises {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start:  2;
    grid-column-end: 13;
    display: grid;
    grid-template-columns: minmax(110px,2fr) 10fr minmax(90px,1fr);
    margin: 0;
    color: #08121F;
}

.Writing-Samples {
    grid-row-start: 7;
    grid-row-end: 10;
    grid-column-start:  2;
    grid-column-end: 13;
    display: grid;
    grid-template-columns: minmax(110px,2fr) 10fr minmax(90px,1fr);
    margin: 0;
    color: #08121F;
}

.Coding-Exercises {
    grid-row-start:11;
    grid-row-end: 14;
    grid-column-start:  2;
    grid-column-end: 13;
    display: grid;
    grid-template-columns: minmax(110px,2fr) 10fr minmax(90px,1fr);
    margin: 0;
    color: #08121F;
}

.Class-Exercises h2, .Writing-Samples h2, .Coding-Exercises h2 {
    grid-column: 1;
    align-content: center;
    text-align: center;
    margin: 0;
    padding: 10px;
    border: 1px solid #08121F;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.Class-Exercises p, .Writing-Samples p, .Coding-Exercises p {
    grid-column: 2;
    margin: 0;
    padding: 10px;
    border-top: 1px solid #08121F;
    border-bottom: 1px solid #08121F;
}

.Class-Exercises a, .Writing-Samples a, .Coding-Exercises a {
    grid-column: 3;
    margin: 0;
    align-content: center;
    text-align: center;
    margin: 0;
    padding: 10px;
    text-decoration: none;
    color: #7EA1C4;
    background-color: #08121F;
    border: 1px solid #08121F;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.Class-Exercises a:hover, .Writing-Samples a:hover, .Coding-Exercises a:hover {
    color: #D3E4ED;
}

/* Biograghy */
.Biograghy {
    background-color: #08121F;
    color: #7EA1C4;
}

.Biograghy h1{
    text-align: center;
}

.Biograghy p {
    margin: 10px;
}

#Biograghy-Image {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    display: block;
}

@media (min-width: 600px) {
    .Biograghy {
        grid-row-start: 4;
        grid-row-end: 13;
        grid-column-start: 7;
        grid-column-end: 13;
        border-left: min(3vw, 40px) solid #7EA1C4;
    }

    #Biograghy-Image {
        grid-row-start: 4;
        grid-row-end: 13;
        grid-column-start: 2;
        grid-column-end: 7;
        height: 100%;
        border-right: min(3vw, 40px) solid #7EA1C4;
    }
}

@media (max-width: 600px){
    #Biograghy-Image {
        border-bottom: 10px solid #7EA1C4;
        grid-row-start: 3;
        grid-row-end: 7;
        grid-column-start:  2;
        grid-column-end: 13;
        width: 100%;
        border-top: 5px solid #7EA1C4;
    }

    .Biograghy{
        grid-row-start: 7;
        grid-row-end: 11;
        grid-column-start:  2;
        grid-column-end: 13; 
        border-bottom: 5px solid #7EA1C4;
    }
}

/* Resume */
.resume {
    grid-row-start: 2;
    grid-row-end: 15;
    grid-column-start:  1;
    grid-column-end: 14; 
}
.resume p, h1, h2{
    margin: 15px;
}

.resume h1 {
    text-align: center;
}

.resume hr {
    border: none;
    height: 2px;
    background-color: #08121F;
    margin: 0 15px;
    width: auto;
    display: block;
}

#text_center {
    text-align: center;
}

.text_between {
    display: flex;
    justify-content: space-between;
}

#less_margin {
    margin-top: 3px;
    margin-bottom: 3px;
}

#space_bottom {
    margin-top: 2px;
    margin-bottom: 10px;
}

.resume a {
    color: #08121F;
}

.resume a:active {
    color: #D3E4ED;
}

.resumea a:visited {
    color: #4748B5;
}

.resume li{
    margin: 0;
}
